* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .3s ease-in-out;

}

html {
  scroll-behavior: smooth; 
}

.grain-overlay::before{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            content: "";
            opacity: .05;  
            z-index: 9999;
            pointer-events: none;
            background: url("../images/generic/noise.gif")
        } 

        .arrow-button {
          width: 17px;
        }

                .arrow-button-right {
        justify-self: right;
        height: 13px;
        }


                .arrow-button-down {
          height: 16px;
        }


/* default attributes for text */
h1, h2, h3, h4, h5, h6 {
    font-family: 'pp-editorial-old';
}

h1 {
    font-size: 4rem;
    font-family: 'edit-old-reg';
}

p, h3 {
    font-family: "hass-light", sans-serif;
    font-weight: 100;
}

p {
    letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
  color: inherit
}



/* importanting all fonts used */
@font-face {
  font-family: edit-old-reg; 
  src: url('../fonts/header-font/edit-old-reg.otf'); 
}

@font-face {
  font-family: edit-old-italic;
  src: url('../fonts/header-font/edit-old-italic.otf'); 
}

@font-face {
  font-family: edit-old-light-italic; 
  src: url('../fonts/header-font/edit-old-light-italic.otf'); 
}

@font-face {
  font-family: edit-old-light;
  src: url('../fonts/header-font/edit-old-light.otf'); 
}

@font-face {
  font-family: hass-light;
  src: url('../fonts/paragraph-font/neue-haas-light.otf'); 
}

@font-face {
  font-family: hass-light-italic;
  src: url('../fonts/paragraph-font/neue-haas-light-italic.otf'); 
}

@font-face {
  font-family: hass-roman;
  src: url('../fonts/paragraph-font/neue-haas-roman.otf'); 
}

@font-face {
  font-family: hass-roman-italic;
  src: url('../fonts/paragraph-font/neue-haas-roman-italic.otf'); 
}

@font-face {
  font-family: hass-roman-medium;
  src: url('../fonts/paragraph-font/neue-haas-medium.otf'); 
}

@font-face {
  font-family: hass-roman-medium-italic;
  src: url('../fonts/paragraph-font/neue-haas-medium-italic.otf'); 
}




.primary-nav {
  padding: 17px 3vw 25px 3vw;
  display: flex;
  height: 33px;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  grid-row: 1;
  grid-column: 1 /span 5;
}

.primary-nav a {
  font-size: .9rem;
  font-family: 'hass-roman';
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.primary-nav p:hover {
  color: #999999;
}

.more-info-link {
  grid-column: 5;
  justify-self: end;
}

.mono-link {
    grid-column: 4;

}






/* footer styling */

footer {
  border-top: #333 solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0vw 3vw 0vw 3vw;
  padding-bottom: 0px;
}


.footer-contact {
  grid-column: 1;
  align-self: end;
  display: flex;
  justify-content: space-between;
  grid-row: 2;
  font-size: 0.9rem;
  cursor: pointer;
  padding-bottom: 6px;
  border-bottom: #333333 solid 1px;
  font-family: 'hass-roman';
  align-self: start;
}


.footer-scroll-line {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-column: 5;
  grid-row: 2;
  align-self: start;
  justify-items: end; 
  padding-bottom: 6px;
  border-bottom: #333333 solid 1px;
  cursor: pointer;
}

.footer-margin-set {
  display: grid;
  grid-template-columns: 19.7% 19.2% 18.8% 21.3% 20.1%;
  grid-column: 1 /span 2;
  grid-row: 1 /span 2;
  gap: 3px;
  padding: 3vw 0 3vw 0;
}

.footer-scroll-text {
  grid-column: 2;
    grid-row: 2;
  justify-self: end;
  font-size: 0.9rem;
  font-family: 'hass-roman', sans-serif;
}

.footer-contact:hover, .footer-scroll-line:hover {
  color: #999999;
  border-bottom: 1px solid #999999;
}







.alt-page-info {
  color: #999999;
  pointer-events: none;
  cursor: pointer;
}



.arrow-icon {
  transition: transform 0.2s ease;
  margin-top: 3.5px;
  opacity: 1;
  
}

.award-line-flex:hover .arrow-icon, .team-members-container a:hover .arrow-icon  {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.rotate-down {
  transform: rotate(180deg);

}

.rotate-up-reverse {
  transform: rotate(270deg);
}


#pre-get-in-touch {
  font-size: 0.9rem;
  grid-column: 1 /span 3;
  align-self: end;
  line-height: 1.3rem;
}

#see-all-the-rest-option {
  opacity: 0;
  pointer-events: none;
}


@media screen and (max-width: 1200px) { 

.footer-contact {
  grid-column: 1 /span 2;
  margin-right: 0;
  margin-bottom: 6px;
}

.footer-scroll-line {
  grid-column: 4 /span 5;
}

}



/* Footer mobile */
@media screen and (max-width: 810px) { 

  footer {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  padding-bottom: 12px;
}

.footer-margin-set {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 1fr 1fr;
  padding: 0;
}

.footer-scroll-line {
  margin-left: 0vw;
}

.footer-scroll-line {
  display: flex;
  flex-direction: row;
  grid-column: 1 /span 2;
  grid-row: 3;
  align-content: start;
}

.footer-scroll-line .rotate-up-reverse {
  transform: rotate(0deg);
}


#pre-get-in-touch {
  grid-column: 1 /span 2;
  padding-bottom: 6px;
  align-self: end;
}

.footer-contact {
  grid-column: 1 /span 2;
  margin-right: 0;
  margin-bottom: 6px;
}

}
