* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .7s cubic-bezier(.65,.05,.36,1);

}
/*
 Page fade-in animation
body {
  opacity: 0;
  animation: fadeIn 2s cubic-bezier(.65,.05,.36,1);;
  transition: opacity 1s cubic-bezier(.65,.05,.36,1);
}

body.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
 */
html {
  scroll-behavior: smooth; 
}

.grain-overlay::before{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            content: "";
            opacity: .05;  
            z-index: 9999;
            pointer-events: none;
            background: url("../images/generic/noise.gif")
        } 

        .arrow-button {
          width: 17px;
        }

                .arrow-button-right {
        justify-self: right;
        height: 13px;
        }


                .arrow-button-down {
          height: 16px;
        }


/* default attributes for text */
h1, h2, h3, h4, h5, h6 {
    font-family: 'pp-editorial-old';
}

h1 {
    font-size: 4rem;
    font-family: 'edit-old-reg';
}

p, h3 {
    font-family: "hass-light", sans-serif;
    font-weight: 100;
}

p {
    letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
  color: inherit
}

.lock-scroll {
  overflow: hidden;
  height: 100%; /* Ensures the body doesn't expand */
}



/* importanting all fonts used */
@font-face {
  font-family: edit-old-reg; 
  src: url('../fonts/header-font/edit-old-reg.otf'); 
}

@font-face {
  font-family: edit-old-italic;
  src: url('../fonts/header-font/edit-old-italic.otf'); 
}

@font-face {
  font-family: edit-old-light-italic; 
  src: url('../fonts/header-font/edit-old-light-italic.otf'); 
}

@font-face {
  font-family: edit-old-light;
  src: url('../fonts/header-font/edit-old-light.otf'); 
}

@font-face {
  font-family: hass-light;
  src: url('../fonts/paragraph-font/neue-haas-light.otf'); 
}

@font-face {
  font-family: hass-light-italic;
  src: url('../fonts/paragraph-font/neue-haas-light-italic.otf'); 
}

@font-face {
  font-family: hass-roman;
  src: url('../fonts/paragraph-font/neue-haas-roman.otf'); 
}

@font-face {
  font-family: hass-roman-italic;
  src: url('../fonts/paragraph-font/neue-haas-roman-italic.otf'); 
}

@font-face {
  font-family: hass-roman-medium;
  src: url('../fonts/paragraph-font/neue-haas-medium.otf'); 
}

@font-face {
  font-family: hass-roman-medium-italic;
  src: url('../fonts/paragraph-font/neue-haas-medium-italic.otf'); 
}




.primary-nav {
  padding: 17px 3vw 25px 3vw;
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.66% 16.7% 16.66%;
  height: 44px;
  border-bottom: 1px solid #cecece;
  grid-row: 1;
  grid-column: 1 /span 5;
}



.primary-nav-ham {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  border-bottom: 1px solid #111;
  height: 68px;
  padding: 0% 3% 0% 3%;
}

#menu-change {
  font-family: "hass-roman";
  font-size: 1rem;
  color: #999;
}

.primary-nav:hover {
  border-bottom: 1px solid #111;
}

.primary-nav a {
  font-size: .9rem;
  font-family: 'hass-roman';
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.02rem;
  cursor: pointer;
  color: #333;
  align-self: end;
}

.primary-nav a:hover {
  color: #111;
}

.primary-nav:hover .primary-nav a {
  color: #999;
}

.work-link {
  grid-column: 4; 
}

.play-link {
  grid-column: 5; 
}

.more-info-link {
  grid-column: 6; 
    justify-self: end;
}



.alt-page-info {
  color: #999999;
  pointer-events: none;
  cursor: pointer;
}


.nav-grouping {
  display: flex;
  align-items: center;
  gap: 0px;
  transition: all .4s ease-in-out;
}


.nav-arrow {
  width: 0px;
  opacity: 0;
}

.nav-grouping:hover .nav-arrow {
  opacity: 1;
  width: 16px;

}

.nav-grouping:hover {
  gap: 8px;

}


.work-link, .play-link, .more-info-link{
  opacity: 1;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  z-index: 999;
}

.hamburger-menu div{
  border-radius: 40px;
  width: 64px;
  height: 4px;
  border: #333 1px solid;
}

.ham-menu {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  height: 100vh;
}








/* footer styling */

footer {
  border-top: #333 solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0vw 3vw 0vw 3vw;
  padding-bottom: 0px;
}


.footer-contact {
  grid-column: 1;
  align-self: end;
  display: flex;
  justify-content: space-between;
  grid-row: 2;
  font-size: 0.9rem;
  cursor: pointer;
  padding-bottom: 6px;
  border-bottom: #333333 solid 1px;
  font-family: 'hass-roman';
  align-self: start;
}


.footer-scroll-line {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-column: 5;
  grid-row: 2;
  align-self: start;
  justify-items: end; 
  padding-bottom: 6px;
  border-bottom: #333333 solid 1px;
  cursor: pointer;
}

.footer-margin-set {
  display: grid;
  grid-template-columns: 19.7% 19.2% 18.8% 21.3% 20.1%;
  grid-column: 1 /span 2;
  grid-row: 1 /span 2;
  gap: 3px;
  padding: 3vw 0 3vw 0;
}

.footer-scroll-text {
  grid-column: 2;
    grid-row: 2;
  justify-self: end;
  font-size: 0.9rem;
  font-family: 'hass-roman', sans-serif;
}

.footer-contact:hover, .footer-scroll-line:hover {
  color: #999999;
  border-bottom: 1px solid #999999;
}











.award-line-flex:hover .arrow-icon, .team-members-container a:hover .arrow-icon  {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.rotate-down {
  transform: rotate(180deg);

}

.rotate-up-reverse {
  transform: rotate(270deg);
}


#pre-get-in-touch {
  font-size: 0.9rem;
  grid-column: 1 /span 3;
  align-self: end;
  line-height: 1.3rem;
}

#see-all-the-rest-option {
  opacity: 0;
  pointer-events: none;
}


@media screen and (max-width: 1200px) { 

.footer-contact {
  grid-column: 1 /span 2;
  margin-right: 0;
  margin-bottom: 6px;
}

.footer-scroll-line {
  grid-column: 4 /span 5;
}

}



/* Footer mobile */
@media screen and (max-width: 810px) { 




.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  height: 68px;
  border-bottom: #111 1px solid;
  
}

.work-link, .play-link, .more-info-link{
  opacity: 0;
  width: 0px;
  height: 0px;
}


.hamburger-menu {
  opacity: 1;
  grid-column: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px; /* spacing between bars */
}


.hamburger-menu div {
  transition: transform 0.7s cubic-bezier(.65,.05,.36,1);;
  transform-origin: center;
}


.hamburger-menu.active > :nth-child(1) {
  transform: translateY(5px) rotate(25deg);
}


.hamburger-menu.active > :nth-child(2) {
  transform: translateY(-5px) rotate(-25deg);
}


.ham-menu {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 30% 0% 0% 2%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  top: 0%;
  transition: all 0.7s cubic-bezier(.65,.05,.36,1);
  pointer-events: none;

}

.ham-menu.active {
  opacity: 1;
  pointer-events: all;
  z-index: 998;
}

#inner-links {
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}





.small-header-menu {
  font-family: 'hass-roman-medium', sans-serif;
  font-weight: 500; 
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  color: #333333;
  line-height: 100%;
  padding-bottom: 32px;
}

.menu-item-lock-up {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item-lock-up h5, .menu-item-lock-up p{
  font-family: "hass-roman";
    color: #333333;
}

#italic-menu-item h5 {
    font-family: "edit-old-italic";
    font-weight: 100;
    line-height: 110%;
}

.menu-item-lock-up h5 {
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 100%;
}

.menu-item-lock-up p {
  font-size: 0.9rem;
  line-height: 100%;
  font-weight: 100;
}







  .grouping-images-and-title {
    gap: 8px;
  }

  .reveal-image-link, .selection-arrow {
  opacity: 1;
}

  .selection-arrow {
  width: 15px;
}



  
  footer {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  padding-bottom: 12px;
}

.footer-margin-set {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 1fr 1fr;
  padding: 0;
}

.footer-scroll-line {
  margin-left: 0vw;
}

.footer-scroll-line {
  display: flex;
  flex-direction: row;
  grid-column: 1 /span 2;
  grid-row: 3;
  align-content: start;
}

.footer-scroll-line .rotate-up-reverse {
  transform: rotate(0deg);
}


#pre-get-in-touch {
  grid-column: 1 /span 2;
  padding-bottom: 6px;
  align-self: end;
}

.footer-contact {
  grid-column: 1 /span 2;
  margin-right: 0;
  margin-bottom: 6px;
}

}
