/* Images for this page */

#kupu-image {
    background-image: url('../images/kupu-rangi-images/kupu-proj/header-img-1.jpg');
}

#kupu-3 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-3.png');
}

#kupu-4 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-4.png');
}

#kupu-5 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-5.png');
}

#kupu-6 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-6.png');
}

#kupu-7 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-7.png');
}

#kupu-8 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-8.png');
}

#kupu-9 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-9.png');
}

#kupu-10 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-10.png');
}

#kupu-11 {
        background-image: url('../images/kupu-rangi-images/kupu-proj/kupu-11.png');
}


/* Video */

.video-ex-kupu {
    height: 100%;
    width: 100%;
}