#optics-image-header {
    background-image: url('../images/optics-images/optics-header-image.png');
}


#optics-1 {
    background-image: url('../images/optics-images/optics-1.jpg');
}

#optics-2 {
    background-image: url('../images/optics-images/optics-2.jpg');
}

#optics-3 {
    background-image: url('../images/optics-images/optics-3.jpg');
}

#optics-4 {
    background-image: url('../images/optics-images/optics-4.jpg');
}

#optics-5 {
    background-image: url('../images/optics-images/optics-5.jpg');
}

#optics-6 {
    background-image: url('../images/optics-images/optics-6.jpg');
}

#optics-7 {
    background-image: url('../images/optics-images/optics-7.jpg');
}

#optics-8 {
    background-image: url('../images/optics-images/optics-8.jpg');
}


.video-ex-optics {
    height: 100%;
    width: 100%;
}

.piece-image:not(#optics-1, #optics-8) {
     background-size:contain;
     background-color: #fff;
}

#optics-8 {
         background-size:contain;
    background-color: #000;
}

#optics-title-piece-part-one {
    padding: 48px 3vw 0px 3vw;
    display: grid;
    grid-template-columns: 1.2fr 30px .8fr;
    grid-template-rows: 1fr 2.75rem .9fr;
}
