#optics-1, #optics-1-image-2, #optics-3, #optics-4, #optics-5, #optics-6, #optics-7{
    object-fit:contain; /* push image in bounds of grid  */
    width: 100%;
    height: 100%;
}



.big-banner-image-optics {
        content: url('../images/optics-images/4.\ optics_load-in.png');
}

.project-image {
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 9vw;
    padding-right: 9vw;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    object-fit: cover; /* push image in bounds of grid  */
    opacity: 1; 
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth sliding effect */
}

.project-image-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 9vw;
    padding-right: 9vw;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    object-fit: cover; /* push image in bounds of grid  */
    opacity: 1; 
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth sliding effect */
}


#optics-1{
    content: url('../images/optics-images/spreadsheet-overview.jpg');
}
#optics-2{

    background-color: black;
}
#optics-3{
    content: url('../images/optics-images/spacing-1.jpg');
}
#optics-3-image-2{
    content: url('../images/optics-images/5.\ look.jpg');
}



#optics-4{
    content: url('../images/optics-images/user-jounrey.jpg');
}
#optics-5{
    content: url('../images/optics-images/7.\ groups.jpg');
}
#optics-6{
    background-color: black;
}
#optics-7{
    background-color: black;
}


.stage-divider-type-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr 1fr;
}

