.project-overview-section {
    display: grid;
    padding-bottom: 10vw;
    padding-top: 5rem;
    grid-template-rows: 30rem 1fr;
}

h2 {
    font-size: 1.5rem;
}

footer {
    padding-top: 3rem;
    border-top: 1px solid #d9d9d9;
}


.bordering-line {
    display: grid;
    grid-template-rows: .1fr 2fr .5fr .5fr;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-column: 1 /span 2;
}
.banner-text {
    font-size: 4rem;
    grid-row: 1;
    grid-column: 1 /span 2;
}

.banner-hanging-number {
    padding-top: 2rem;
    grid-column: 1;
    grid-row-start: 2;
    padding-right: 2rem;
}

.project-image {
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 9vw;
    padding-right: 9rem;
    border-top: 1px solid #e5e5e5;
    object-fit: cover; /* push image in bounds of grid  */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth sliding effect */
}

.project-image-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 9vw;
    padding-right: 9vw;
    border-top: 1px solid #e5e5e5;
    object-fit: cover; /* push image in bounds of grid  */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth sliding effect */
}


.project-date-top {
        padding-top: 2rem;
    grid-column-start: 3;
    grid-row-start: 2;
}

.big-banner-image {
    padding-left: 9vw;
    padding-right: 9vw;
    grid-column: 1 /span 2;
    grid-row-start: 1;
    padding-bottom: 1rem;
    content:url('../images/optics-images/hero-1.jpg');
    object-fit: cover; /* push image in bounds of grid  */
    width: 100%;
    height: 100%;
}

.big-banner-image-myl {
    content:url('../images/myl-images/myl-hero.jpg');
}

.cat-div {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2rem;
}

.catagory {
    grid-column-start: 1;
    grid-template-rows: 3;
    padding-bottom: .5rem
}

.year {
    grid-column-start: 1;
    grid-template-rows: 4;
}
/* 
.collection-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding-left: 9vw;
    padding-right: 9vw;

}
*/


.final-image-grid {
    width: 100%;
    height: 100%;
}


.stage-divider {
    display: grid;
    grid-template-rows: .8fr;
    gap: 1rem;
    padding-bottom: 4rem;
}


.stage-divider-2 {
    display: grid;
    padding-bottom: 4rem;
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
}

.stage-divider-text-aligning {
    display: grid;
    grid-template-rows: .5fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
}

.stage-divider-text-aligning-2 {
    display: grid;
    grid-template-rows: .8fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
}


#video-section {
    padding-left: 9vw;
    padding-right: 9vw;
}

@media only screen and (max-width: 600px) {

    #video-section {
    padding: 0;
}

.bordering-line {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr 1fr .4fr;

    }
.stage-divider {
    grid-template-rows: 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
}

.stage-divider-text-aligning, .stage-divider-text-aligning-2 {
    grid-template-rows: .12fr .5fr;
    grid-template-columns: 1fr;
    padding-top: 1rem;
}

.project-date-top {
    grid-column-start: 1;
    grid-row-start: 3;
}
.banner-hanging-number {
    grid-column-start: 1;
    grid-row-start: 2;
}

.banner-text {
    font-size: 10vw;
    grid-row: 1;
    grid-column: 1 /span 2;
}
.project-image {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(218, 218, 218);
}

.big-banner-image {
    padding-left: 0vw;
    padding-right: 0vw;
}


/* 
.collection-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    padding-left: 0;
    padding-right: 0;
} */


}



