* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
} /* Apply defualt spacing*/




@font-face {
    font-family: 'PP editorial new'; 
    src: url("../fonts/PPEditorialNew-Regular-BF644b214ff145f.otf");
    font-weight: 100;
} 

@font-face {
    font-family: 'pp-editorial-new-italic'; 
    src: url("../fonts/pp-editorial-new-ultralight-italic.ttf");
    font-weight: 100;
} 

@font-face {
    font-family: 'montreal'; 
    src: url("../fonts/montreal-regular.otf");
} 

@font-face {
    font-family: 'montreal-med'; 
    src: url("../fonts/montreal/neuemontreal-medium.otf");
} 

@font-face {
    font-family: 'montreal-med'; 
    src: url("../fonts/montreal/neuemontreal-medium.otf");
} 

html {
    scroll-behavior: smooth;
  }

  body {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
  }



.hanging-count {
    opacity: 0;
}


/* Navigation Menu CSS*/

.nav-contents {
    position:fixed;
    z-index: +1;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 3rem;
    padding-left: 10.5vw;
    padding-right: 10.5vw;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.757); 
    -webkit-background-clip: padding-box; /* enables for Safari */
    background-clip: padding-box; /* enables for Firefox, Opera, Chrome */
    overflow: hidden;
} /* Total nav bar*/

.social-divs, .social-divs a, .social-divs li, .home-click-nav, .home-click-nav a, .home-click-nav ul {
    font-family: 'PP editorial new';
    text-decoration: none;
    list-style: none;
    color: rgb(54, 54, 54);

} /* Left navigation menu*/

.social-divs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0; /* Start as invisible */
    visibility: hidden; /* Prevent interaction when invisible */
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out; /* Smooth fade in/out */
    font-family: 'PP editorial new';
    display: flex;
    justify-content: end;
    overflow-y: hidden;
}

.social-divs.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it interactable */
}


body {
    overflow-x: hidden;
}

/* Default styles for links (hamburger visible) */
.social-links .nav-item {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    list-style-type: none;
} 


.social-links {
    font-style: italic;
} /* Italics for the social links */

.social-divs, .social-links ul{
    display: flex;
    gap: 20px;
} /* Seperation between social links + "Contact Me" and "Work" link */

.home-click-nav ul, #rory-id {
    display: flex;
    gap: 4px
} /* Creating a seperation between "Rory" and "Maddren" in nav and h1 */

#nav-line {
 background-color: rgb(0, 0, 0);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 10vw;
 margin-top: 8px;
 height: 1px;
 margin-right: 12px
} /* Line in nav */








/* Hamburger Menu */

.menu-btn {
    border: #000000 1px solid;
    background-color: #ffffff;
    border-radius: 5px;
    padding: .8vh;
    z-index: +1;
    cursor: pointer;
}


.hamburger-divide-line {
    border-top: #000000 1px solid;
}

.nav-link, .work-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
}

.work-link {
    font-style: normal;
} /* work link is not italics */


/* Hamburger button lines */
.menu-btn .btn-line {
    border: 1px solid black;
    border-radius: 5px;
    width: 7vh;
    height: 3px;
    margin: 3px 0px 3px 0px;
    background: rgba(0, 0, 0, 0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}


/* When the button is closed (X mark) */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(28deg) translate(3.5px, 5.5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-28deg) translate(3.5px, -5.5px);
}















/* Navbar hover */

.social-links a:hover, .work-link a:hover, .nav-contents a:hover {
    color: rgb(131, 131, 131);
    transition: color 0.7s ease;
} /* Hover on navbar changes */





/* Typography */

a {
    color: black;
    text-decoration: none;
}



h1, h2, h3 {
    font-family: 'PP editorial new';
    font-weight: normal;
} /* Setting font styles */

/* 
.italic-h4 {
    font-family: 'PP editorial new';
    font-style: italic;
}
 */
  
.italic-h4-grey {
    font-family: 'PP editorial new';
    color: #2e2e2e;
}

.top-cred-section-h4-plain {
    font-family: 'montreal';
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    line-height: 17.3px;
}



h4 {
    font-family: "PP editorial new";
    font-size: 1rem;
    font-weight: 400;
}


p {
    font-family: 'montreal';
    font-size: 1rem;
    line-height: 1.4rem;
} /* Setting font styles */




footer {
    padding-top: 0;
    border-top: solid 1px rgb(255, 255, 255);
    padding-bottom: 10rem;
}

.footer-p, .footer-p a{
    color: black;
    font-family: "montreal";
}

.footer-p-two {
    font-family: "montreal";
    width: 30rem;
    padding-bottom: 2rem;
}





.footer-text {
    display: grid;
    gap: 1rem;
    padding-right: 10.5vw;
    padding-left: 10.5vw;
}




.contact-button {
    border-radius: 100rem;
    border: solid #000 1px;
    width: 25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}

.contact-button:hover {
    background-color: rgb(131, 131, 131);
    border-color: rgb(131, 131, 131);
    color: #fff;
    transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease;
}

.h4-contact-bottom-page {
    font-family: "PP editorial new";
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
}

        




.research-question {
    padding-left: 10.5vw;
    padding-right: 10.5vw;
    padding-bottom: 5rem;
    font-size: 2rem;
    font-family: 'montreal';
}





.hamburger-divide-line {
    opacity: 0;
    transition: opacity 0.7s ease;
}

.hamburger-divide-line.show {
    opacity: 1;
}







@media only screen and (max-width: 600px) {
    .home-click-nav {
        padding-top: 2vw;
        font-size: 3.5vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }

    .research-question {
    font-size: 1.8rem;
    }



footer {
padding-top: 5.5vw;
}

.footer-p-two {
    width: 100%;
}
    
.contact-button {
    width: 100%;
}

.h4-contact-bottom-page {
    font-size: 1.5rem;
}



    



    .hanging-count {
        opacity: 0;
    }


    .social-divs li {
        padding-top: 2vh;
        display: flex;
        justify-content: center;
    }


.nav-contents {
    display: grid;
    grid-template-columns: 1fr .1fr;
    justify-content: space-between;
}

        .social-divs li { 
            padding-top: 3.5vh;
            padding-bottom: 3.5vh;
        }
            
        .lines {
            opacity: 0;
        }
    
            .social-divs {
                display: block;
            }
    
            .nav-item {
            padding: 2rem;
        }

        #nav-line {
            opacity: 0;
        }
    
        .nav-link {
            font-size: 6vh;
        }
        
            /* Show the hamburger menu and hide list of links */
            .nav-contents {  /* Padding - NAV BAR */
                padding-top: 2vh;
                padding-bottom: 2.3rem;
                font-size: 6vh;
            }
        
            .social-links {
                padding-top: 18vh;
            }
        
            /* Make links larger and more spaced for mobile */
            .nav-item {
                padding: 2rem;
            }
        
            /* Display social links in the hamburger menu when the menu is opened */
            .menu-btn {
                display: block;
            }

            .nav-item {
                opacity: 0;
                transition: opacity 1s ease;
            }
            
            .nav-item.show {
                opacity: 1;
            }
            
            .work-link {
                opacity: 0;
                transition: opacity 1s ease;
            }
            
            .work-link.show {
                opacity: 1;
            }

            .work-link {
                font-size: 3rem;
                font-style: normal;
                display: flex;
                justify-content: center;
            }
            /* slow fade in - javascript */
        }
    


        
        
            /* Desktop view (above 600px) */
            @media only screen and (min-width: 601px) {
            /* Hide the hamburger button */
            .menu-btn {
                display: none;
            }



        
            /* Display the social links as a horizontal list on large screens */
            .social-divs, .work-link {
                position: static;
                height: auto;
                background: transparent;
                display: flex;
            }

            
     .social-divs {
                visibility: visible;
                opacity: 1;
            }  /* Fixes bug for nav disspearing */
         
        
            .social-links {
                display: flex;
                justify-content: space-around;
                margin-top: 0;
                padding-left: 0;
                font-size: 1rem;
            }
        
            .nav-item {
                padding: 0 .8rem;
            }
        
            /* Remove the vertical lines between items */
            .hamburger-divide-line {
                display: none;
            }
        }
    
        @media only screen and (max-width: 480px) {
            .home-click-nav {
                padding-top: 2vw;
                font-size: 22px
            }

         

            body.no-scroll {
                overflow: hidden; /* Prevent scrolling */
            }



        }













        .noise::before{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            content: "";
            /* you can control opacity of noise  */
            opacity: .04;  
            z-index: 1000;
            pointer-events: none;
            background: url("../images/noise.gif");
        }
        
        
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            z-index: 1001;
        }



/*
        .textFade {
            color: yellow;
        }
*/



.badge-1 {
    width: 5rem;
    grid-column-start: 3;
    grid-row-start: 1;
  display: flex;           /* use flex inside the 3rd column */
  justify-content: flex-end; 
}

