#unheard-image-header {
    background-image: url('../images/unheard-images/unheard-header.png');
}


#unheard-1 {
    background-image: url('../images/unheard-images/unheard-1.png');
}

#unheard-2 {
    background-image: url('../images/unheard-images/unheard-2.png');
}

#unheard-3 {
    background-image: url('../images/unheard-images/unheard-3.png');
}

#unheard-4 {
    background-image: url('../images/unheard-images/unheard-4.png');
    overflow: auto;
}

#unheard-5 {
    background-image: url('../images/unheard-images/unheard-5.png');
}

#unheard-6 {
    background-image: url('../images/unheard-images/unheard-6.png');
}

#unheard-7 {
    background-image: url('../images/unheard-images/unheard-7.png');
}

#unheard-8 {
    background-image: url('../images/unheard-images/unheard-8.png');
}

#unheard-9 {
    background-image: url('../images/unheard-images/unheard-9.png');
}

#unheard-10 {
    background-image: url('../images/unheard-images/unheard-10.png');
}

#unheard-11 {
    background-image: url('../images/unheard-images/unheard-11.png');
}

#unheard-12 {
    background-image: url('../images/unheard-images/unheard-12.png');
}


.video-ex-unheard {
    height: 100%;
    width: 100%;
    background-color: #111;
}

