#img-1-vis, #img-2-vis, #img-3-vis, #img-4-vis, #img-5-vis, #img-6-vis, #img-7-vis, #img-8-vis, #img-9-vis{
    object-fit:contain; /* push image in bounds of grid  */
    width: 100%;
    height: 100%;
}

.big-banner-vis {
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-1-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-2-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-3-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-4-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-5-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-6-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-7-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-8-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}

#img-9-vis{
    content: url('../images/voices-in-stills-images/voices-in-stills-1.jpeg');
}
