/* General Page Structure */

.primary-nav {
    grid-template-columns: 16.7% 16.7% 17% 16.25% 16.66%;
}

#work-page-overall {
  gap: 0px;
  padding: 1.5rem 3% 1.5rem 3%;
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.66% 16.7% 16.66% 16.66%;
  grid-template-rows: auto auto auto auto;
}

 #work-section-industry {
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-right: .6%;

}



.work-page-lines {
  opacity: 1;
  position: fixed;
  z-index: -2;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.work-page-lines span {
  border-left: 1px solid rgb(233, 233, 233);
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
}

.work-page-lines span:nth-of-type(1) { left: 3%; }
.work-page-lines span:nth-of-type(2) { left: 18.67%; }
.work-page-lines span:nth-of-type(3) { left: 34.33%; }
.work-page-lines span:nth-of-type(4) { left: 50.3%; }
.work-page-lines span:nth-of-type(5) { left: 65.67%; }
.work-page-lines span:nth-of-type(6) { left: 81.33%; }
.work-page-lines span:nth-of-type(7) { left: 97%; }
.work-page-lines span:nth-of-type(8) { left: 49.75%; }







#switch-between-content-container {
  grid-column: 1 /span 5;
}


#display-works-piece-one {
  flex: 1; /* This makes all direct children equal width */
}

#display-works-piece-one {
  grid-column: 1 /span 6;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  border-bottom: #333 solid 1px;
  border-top: #333 solid 1px;
  padding-bottom: 32px;
  gap: 8px;
}

#display-works-piece-two {
  grid-column: 1 /span 6;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

 #display-works-piece-three {
  grid-column: 1 /span 6;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#works-container, #works-container-unheard, #works-container-optics, #works-container-all-the-rest, #works-container-wewrangle {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#works-container {
  grid-column: 1 /span 4;
  grid-row: 2;
}

#works-container-unheard, #works-container-wewrangle {
  grid-column: 1 /span 2;
  grid-row: 3;
    border-bottom: 0;
    padding-bottom: 0;
}

#works-container-wewrangle {
    grid-column: 1 /span 3;
  grid-row: 3;
    border-bottom: 0;
    padding-bottom: 0;
        padding-top: 32px;
}

#works-container-optics {
  grid-column: 4 /span 6;
  grid-row: 3;
}

#works-container-vis {
  grid-column: 1 /span 3;
  grid-row: 4;
  padding-left: 12px;
}

.hero-image-work-page {
  border: #111 solid 2px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#works-container-unheard *, #works-container-optics *, #works-container-vis *, #works-container-all-the-rest *, #works-container-wewrangle * {
  filter: grayscale(1);
}



#works-container:hover *, #works-container-unheard:hover *, #works-container-optics:hover *, #works-container-all-the-rest:hover *, #works-container-wewrangle:hover * {
    filter: grayscale(0);
    transition: all .7s;
}



.medals-work {
  height: 44px;
  align-self: start;
}

#top-swtich-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-column: 1 /span 5;
}

#top-swtich-container h3{
  font-family: 'hass-roman-medium', sans-serif;
  color: #333;
  font-size: 1.3rem;
}

#work-switch {
  display: flex;
  gap: 8px;
  align-items: center;
}

.switch-btn {
  font-family: 'hass-roman-medium', sans-serif;
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  background: none;
}

.switch-btn:hover, .switch-btn.active:hover {
  color: #d8d8d8;
}

#work-switch.active {
  color: #111;
}

  .switch-btn {
    cursor: pointer;
    border: none;
    background-color: none;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .switch-btn.active {
    color: #111;
  }

  /*

  .content-panel {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    height: 0;
  }

  .content-panel.active {
    display: block;
    opacity: 1;
        pointer-events: all;
  }

  .content-panel {
  display: none;
}

.content-panel.active {
  display: block;
}
  */






.hero-image-work-page-head {
  border: 2px solid #111;
}

#uni-works {
  grid-column: 1 /span 6;
  display: grid;
  grid-template-columns: 16.7% 16.7% 17% 16.25% 16.66%;
  row-gap: 32px;
    grid-template-rows: auto auto;

}








#switch-circle {
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 20px;
}

/* Title */
.grouping-awards-and-title-works h5 {
  font-family: 'edit-old-light', serif;
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 100%;
}

.grouping-awards-and-title-works {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-button {
  font-family: "hass-roman";
  font-weight: 500;
  color: #555;
  border: #555 solid 2px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 0px;
  font-size: 0.8rem;
  text-transform: uppercase
}

.cat-descriptor {
  font-family: "hass-roman-medium";
  color: #555;
  font-size: 0.9rem;
}

.tag-dot {
  width: 6px;
  height: 6px;
  background-color: #555;
  border-radius: 20px;
}

.quick-overview {
  display: flex;
  flex-direction: column;
  line-height: 110%;
  gap: 8px;
  max-width: 45rem;
}

#display-works-piece-one-minus-border-bottom {
  grid-column: 1 /span 6;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  border-top: #333 solid 1px;
  padding-bottom: 32px;
  padding-top: 32px;
  gap: 8px;
}

.mccann-piece {
  padding-bottom: 32px;
}







/*
@media screen and (max-width: 1435px) {
 
#work-page-overall { 
  display: flex;
  flex-direction: column;
}

}
*/


@media screen and (max-width: 815px) {
#uni-works {
  display: flex;
  flex-direction: column;
}

  .work-page-lines {
  opacity: 0;
}

  #works-container-unheard *, #works-container-optics *, #works-container-vis *, #works-container-all-the-rest *, #works-container-wewrangle * {
  filter: grayscale(0);
}

  #work-page-overall,   #display-works-piece-one, #display-works-piece-two, #display-works-piece-three   { 
  display: flex;
  flex-direction: column;
  }

  .medals-work {
  height: 52px;
  align-self: center;
}
  
  #display-works-piece-one, #display-works-piece-two, #display-works-piece-three {
    gap: 0px;
    row-gap: 18px;
  }

  #works-container-unheard, #works-container-wewrangle {
    border-bottom: #555 solid 1px;
    padding-bottom: 32px;
  }

  #works-container-wewrangle {
    padding-top: 32px;
    padding-bottom: 0px;
    border-bottom: 0px;
  }

    #works-container-optics {
    padding-top: 12px;
  }

    #works-container-all-the-rest {
    padding-top: 12px;
  }
}